{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BRO PAGE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <br><br><br><br>
    <div class="row">
        <div style="text-align: center; margin: auto; width: 70%;">
            <h1 style="width: 100%; font-size: 5vw;">ONE FINAL STEP!</h1>

            <!-- <hr style="width: 100%; border: 0; height: 2px; background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));"> -->
            
            <h3 style="font-size: 1.8vw;">YOU WILL BE RECIEVING AN EMAIL FROM US ASKING TO CONFIRM YOUR EMAIL ADDRESS. YOU MUST CONFIRM BEFORE YOU GAIN ACCESS TO YOUR BRO ACCOUNT. CLICK THE LINK PROVIDED AND YOU WILL BE ALL SET!</h3>
        
            <br>
            <button><a href="/">GO TO HOME PAGE</a></button>
        </div>
    </div>
</body>
</html>